<sly data-sly-use.m="com.demo.core.models.MediaWithCaption"/>
<sly data-sly-test.has="${m.hasContent}"/>
<figure data-cmp-is="media-with-caption" data-sly-test="${has}">
    <div class="media-with-caption__media">
        <sly data-sly-test="${m.video}">
            <video class="media-with-caption__video" src="${m.mediaPath @ context='uri'}" poster="${m.posterPath @ context='uri'}" autoplay loop muted playsinline preload="auto" aria-label="${m.altText}"></video>
        </sly>
        <sly data-sly-test="${!m.video}">
            <img class="media-with-caption__image" src="${m.mediaPath @ context='uri'}" alt="${m.altText}"/>
        </sly>
    </div>
    <figcaption class="media-with-caption__caption" data-sly-test="${m.caption}">${m.caption}</figcaption>
</figure>
<sly data-sly-test="${!has && wcmmode.edit}"><div class="cmp-placeholder">${'Media with caption - configure media path.' @ i18n}</div></sly>
