<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.css @ categories='demo-ai-site.cmp.site-footer'}"/>

<div class="cmp-site-footer">
    <div class="cmp-site-footer__main">
        <div class="cmp-site-footer__inner">
            <div class="cmp-site-footer__brand">
                <span class="cmp-site-footer__wordmark">IDT</span>
                <p>${'Discover what’s possible' @ i18n}</p>
                <p>800 328 2661</p>
                <a class="cmp-site-footer__contact" href="#">${'Contact Us' @ i18n}</a>
            </div>
            <div class="cmp-site-footer__columns">
                <div><h2>${'Applications' @ i18n}</h2><a href="#">${'Cancer Research' @ i18n}</a><a href="#">${'Infectious Disease Research' @ i18n}</a><a href="#">${'Rare & Inherited Genetic Disease Research' @ i18n}</a><a href="#">${'Antibody Discovery' @ i18n}</a><a href="#">${'Protein Engineering' @ i18n}</a></div>
                <div><h2>${'Support & Education' @ i18n}</h2><a href="#">${'User guides & protocols' @ i18n}</a><a href="#">${'Safety data sheets' @ i18n}</a><a href="#">${'Frequently asked questions' @ i18n}</a><a href="#">${'Supplier information' @ i18n}</a><a href="#">${'How to order and request a quote' @ i18n}</a><a href="#">${'Contact us' @ i18n}</a></div>
                <div><h2>${'Company' @ i18n}</h2><a href="#">${'About' @ i18n}</a><a href="#">${'Leadership' @ i18n}</a><a href="#">${'Sustainability' @ i18n}</a><a href="#">${'Careers' @ i18n}</a><a href="#">${'News' @ i18n}</a><a href="#">${'Events' @ i18n}</a></div>
                <div><h2>${'Products & Services' @ i18n}</h2><a href="#">${'Oligos & Reagents' @ i18n}</a><a href="#">${'PCR / qPCR / dPCR' @ i18n}</a><a href="#">${'CRISPR Gene Editing' @ i18n}</a><a href="#">${'Gene Synthesis & Fragments' @ i18n}</a><a href="#">${'Next Generation Sequencing' @ i18n}</a><a href="#">${'OEM & Additional Services' @ i18n}</a></div>
                <div><h2>${'Tools' @ i18n}</h2><a href="#">${'OligoAnalyzer Tool' @ i18n}</a><a href="#">${'DNA Oligo Entry' @ i18n}</a><a href="#">${'PrimerQuest Tool' @ i18n}</a><a href="#">${'Predesigned qPCR Assays' @ i18n}</a><a href="#">${'CRISPR HDR Design Tool' @ i18n}</a><a href="#">${'All tools' @ i18n}</a></div>
            </div>
            <div class="cmp-site-footer__social"><span>${'Follow us' @ i18n}</span><a href="#">Instagram</a><a href="#">X</a><a href="#">LinkedIn</a><a href="#">YouTube</a><a href="#">Facebook</a></div>
            <div class="cmp-site-footer__legal"><div><a href="#">${'Online Terms and Conditions of Sale' @ i18n}</a><a href="#">${'Privacy Policy' @ i18n}</a><a href="#">${'Cookie Policy' @ i18n}</a><a href="#">${'Payment Information' @ i18n}</a><a href="#">${'Do Not Sell or Share My Data' @ i18n}</a><a href="#">${'Biosecurity Attestation' @ i18n}</a></div><span>© 2026 Integrated DNA Technologies, Inc.</span><div class="cmp-site-footer__certs"><img src="/etc.clientlibs/demo-ai-site/components/site-footer/clientlibs/clientlib-site-footer/resources/iso-9001.svg" alt="ISO 9001"/><img src="/etc.clientlibs/demo-ai-site/components/site-footer/clientlibs/clientlib-site-footer/resources/iso-13485.svg" alt="ISO 13485"/></div></div>
            <p class="cmp-site-footer__trademark">${'Trademarks contained herein are the property of Integrated DNA Technologies, Inc. or their respective owners. For research use only. Not for use in diagnostic procedures.' @ i18n}</p>
        </div>
    </div>
    <div class="cmp-site-footer__companies">
        <img src="/content/dam/demo-ai-site/design/partner-abcam.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-aldevron.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-beckman.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-genedata.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-idbs.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-leica.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-moledev.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-phenomenex.svg" alt=""/>
        <img src="/content/dam/demo-ai-site/design/partner-sciex.svg" alt=""/>
    </div>
</div>
