<sly data-sly-use.model="com.demo.core.models.HeroModel"
     data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='demo-ai-site.pos-hero'}"/>

    <sly data-sly-test.hasContent="${model.hasContent}">
        <section class="cmp-pos-hero">
            <div class="cmp-pos-hero__content">
                <h1 class="cmp-pos-hero__heading">${model.heading}</h1>
                <p class="cmp-pos-hero__body" data-sly-test="${model.body}">${model.body}</p>
                <a class="cmp-pos-hero__cta"
                   href="${model.ctaLink @ context='uri'}"
                   data-sly-test="${model.ctaText}">${model.ctaText}</a>
            </div>
            <div class="cmp-pos-hero__illustration" data-sly-test="${model.illustration}">
                <img src="${model.illustration @ context='uri'}"
                     alt="${model.illustrationAlt @ context='attribute'}"/>
            </div>
        </section>
    </sly>

    <sly data-sly-test="${!hasContent && wcmmode.edit}">
        <div class="cq-placeholder" data-emptytext="${'Positivus Hero' @ i18n}"></div>
    </sly>
</sly>
