
//== Font

$font-family:           "Source Sans 3", "Source Sans Pro", Arial, Helvetica, sans-serif;
$font-size:             16px;
$font-height:           1.55;

//== Color

// Normal mode
$color-foreground:      #333333;
$color-background:      #FFFFFF;
$color-link:            #336F9F;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
