
//== Font

$font-family:           var(--das-font-body, "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif);
$font-size:             16px;
$font-height:           1.6;

//== Color

// Normal mode
$color-foreground:      #252641;
$color-background:      #FFFFFF;
$color-link:            #2A9D9F;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
